<p style="color: green"><%= notice %></p>

<% content_for :title, "Documents" %>

<h1>Documents</h1>


<table id="documents">
  <tr>
    <th>Name</th>
    <th>Created At</th>
    <th></th>
  <% @documents.each do |document| %>
    <%= render "row", document: document %>
  <% end %>
</table>

<%= link_to "New document", new_document_path %>
