<% content_for :title, "Editing device token" %>

<h1>Editing device token</h1>

<%= render "form", device_token: @device_token %>

<br>

<div>
  <%= link_to "Show this device token", @device_token %> |
  <%= link_to "Back to device tokens", device_tokens_path %>
</div>
