<p style="color: green"><%= notice %></p>

<% content_for :title, "Device tokens" %>

<h1>Device tokens</h1>

<div id="device_tokens">
  <% @device_tokens.each do |device_token| %>
    <%= render device_token %>
    <p>
      <%= link_to "Show this device token", device_token %>
    </p>
  <% end %>
</div>

<%= link_to "New device token", new_device_token_path %>
