<% content_for :title, "Editing correspondence" %>

<h1>Editing correspondence</h1>

<%= render "form", correspondence: @correspondence %>

<br>

<div>
  <%= link_to "Show this correspondence", @correspondence %> |
  <%= link_to "Back to correspondences", correspondences_path %>
</div>
